<h1>Cars cars</h1>

<% @cars.each do |car| %>
	<div class="card mb-3" style="max-width: 700px;">
	<%= link_to car_path(car) do %>	
		<div class="row g-0">
			<div class="mt-4 mb-4 col-md-4">
				<%# <img src="..." class="img-fluid rounded-start" alt="..."> %>
				<%= image_tag(car.image, style: "img-fluid; border-radius: 5px; max-width: 100%; heiht: auto") %>
			</div>
			<div class="col-md-4">
				<div class="card-body">
					<h5 class="card-title"><%= car.make %> <%= car.mode %>, <%= car.year %></h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card-body">
					<h5 class="card-title text-end"><%= car.price %> Т</h5>
				</div>
			</div>
		</div>
	<% end %>
	</div>
<% end %>