	<div class="card mt-3 mb-3" style="max-width: 540px;">
		<div class="row g-0 object-fit-cover border-rounded">
			<div class="mt-1 col-md-4">
				<%# <img src="..." class="img-fluid rounded-start" alt="..."> %>
				<%= image_tag(@car.image, style: "img-fluid; max-width: 100%; heiht: auto") %>
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title"><%= @car.make %> <%= @car.mode %></h5>
					<p class="card-text"><%= @car.year %></p>
					<p class="card-text"><%= @car.price %></p>
					<%= link_to 'Edit', edit_car_path(@car) %>
					<%= link_to 'Destroy', car_path(@car), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
				</div>
			</div>
		</div>
	</div>