<!DOCTYPE html>
<html>
  <head>
    <title>Autostore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "car", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="p-1 bg-info">
      <div class="container">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <div class="d-flex collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav p-2" >
                <li><%= link_to 'Home', root_path, class: 'btn btn-info fs-4' %></li>
                <li><%= link_to 'Cars', cars_path, class: 'btn btn-info fs-4' %></li>
                <li><%= link_to 'Add car', new_car_path, class: 'btn btn-info fs-4' %></li>
              </ul>
              <%# <ul class="navbar-nav ms-auto p-2">
                <li><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-info fs-4' %></li>
                <%# <li><%= link_to 'Log in', new_user_session_path, class: 'btn btn-info fs-4' %></li>
              <%# </ul> %>
              <ul class="nav-item dropdown ms-auto p-0">
                <a class="nav-link dropdown-toggle fs-4 mt-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sign up/Log in
                </a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li><%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Log in', new_user_session_path, class: 'dropdown-item' %></li>
                    <li><%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %></li>
                  <% else %>
                    <li><%= link_to 'Sign up', new_user_registration_path, class: 'dropdown-item' %></li>
                    <li><%= link_to 'Log in', new_user_session_path, class: 'dropdown-item' %></li>
                  <% end %>
                </ul>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
