<!DOCTYPE html>
<html>
  <head>
    <title>Autostore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header class="p-1 bg-info">
      <div class="container">
        <nav class="navbar navbar-expand-lg" >
          <div class="container-fluid">
            <div class="d-flex collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav p-2" >
                <li><%= link_to 'Home', root_path, class: 'navbar-brand' %></li>
                <li><%= link_to 'Cars', cars_path, class: 'navbar-brand' %></li>
                <li><%= link_to 'Add car', new_car_path, class: 'navbar-brand' %></li>
              </ul>
              <ul class="navbar-nav ms-auto p-2">
                <li><%= link_to 'Sign up', new_user_registration_path, class: 'navbar-brand' %></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
